<%= form_for @reminder do |f|%>
  <%= f.fields_for :schedule do |sf| %>

  <h3>Your Schedule</h3>

  <p>
    My <%= f.select :travel_method, options_for_select(TravelMethod.options, prompt: "Ride Type") %>
    leaves every, <%= sf.collection_check_boxes(:days, weekdays, :index, :name) %>
    starting at <%= sf.time_select :starts_at %>
  </p>
  <p>
    It arrives every <%= sf.number_field :interval, placeholder: "3" %> minutes.
  </p>

  <h3>Your Reminders</h3>
  <p>
    I want to leave at <%= f.time_select :departs_at %>.
  </p>
  <p>
    It takes me <%= f.number_field :travel_delay, placeholder: 2 %> minutes to get to my ride.
  </p>
  <p>
    Alert me <%= f.number_field :heads_up_delay, placeholder: 2 %> minutes before I should leave to catch my ride.
  </p>

  <%= f.submit "Set Reminder" %>
  <% end %>
<% end %>
